.maze {
    display: flex;
    flex-direction: column;
}

.maze-rows {
    display: flex;
}

.maze-cell {
    width: 20px;
    height: 20px;
}

.maze .wall {
    border: solid #aaaaaa 4px;
    background-color: gray;
} 

.maze .start {
    border: solid greenyellow 4px;
    background-color: green;
}

.maze .finish {
    border: solid rosybrown 4px;
    background-color: rebeccapurple;
}

.maze .path {
    border: solid transparent 4px;
    background-color: burlywood;
}

#victory {
    color: #A63C45;
    z-index: 1;
    font-size: 100px;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
    visibility: hidden;
}
